/* --- Reset / Normalize de base --- */

/* Box sizing global pour tous les éléments */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li,
fieldset,
legend {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

/* Listes sans décoration par défaut */
ul,
ol {
    list-style: none;
}

/* Liens */
a {
    text-decoration: none;
    color: inherit;
}

/* Images, vidéos, SVG, canvas — afficher de façon responsive, bloc, ne pas dépasser */
img,
picture,
video,
svg,
canvas {
    display: block;
    max-width: 100%;
}

/* Inputs / Buttons / selects hériteront de la police de caractère du body */
input,
button,
textarea,
select {
    font: inherit;
    font-size: inherit;
    color: inherit;
}

/* Rendre plus lisible / éviter débordements de texte */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Corps de page : hauteur minimum + bonne interligne */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Décoration de texte par défaut plus propre */
html {
    -webkit-text-size-adjust: 100%;
    /* éviter redimensionnement texte sur iOS/Safari */
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}


/* Portfolio */

@font-face {
    font-family: 'Lato.ttf';
    src: url(/Portfolio/Lato/Lato-Regular.ttf);
}

body {
    width: 100%;
    font-family: 'Lato.ttf';
}


/* header */

header {
    height: 400px;
    position: relative;

}

#burger {
    display: none;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 2;
    pointer-events: none;
}

header img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

#navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 2;
    align-items: center;
    position: fixed;

}

#navImg {
    cursor: pointer;
}

#navbar nav {
    display: flex;
    list-style: none;
    padding: 10px 20px;
}

#navbar nav li {
    padding: 5px;
}

#navbar p {
    padding: 10px 20px;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3f3f3f;
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 20px;
    z-index: 3;
}

#portfolioNav {
    position: fixed;
    display: flex;
    width: 500px;
    top: 10rem;
    left: 18rem;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 1rem;
    padding: 5px 20px;
    z-index: 10;

    #portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box {
        width: 23%;
        margin: 1rem .2rem;
        border-radius: 10px;
        overflow: hidden;
    }
}

/* About me */

main #about #aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    padding-top: 60px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    color: grey;
}

.itlc {
    font-style: italic;
    color: grey;
    padding-bottom: 20px;
}

.aboutme p {
    color: grey;
}

.txt {
    margin: 0 258px;
    padding-bottom: 20px;
}

/* My name */


#myname .container {
    display: flex;
    justify-content: center;
}

#myname .container .desc {
    width: 30%;
    text-align: left;
    margin-left: 20px;
    padding-top: 40px;
    color: gray;
}

#me {
    padding-right: 20px;
}

#me p {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    color: gray;
}

/* skills */

.skills {
    padding-top: 40px;
    padding-bottom: 40px;
}


.skills p {
    text-align: center;
    color: gray;
    font-size: large;

}

.pbar {
    max-width: 1100px;
    margin: 0 auto;

}

.box {
    margin-bottom: 20px;
    position: relative;
    width: 100%;

}

.box label {
    display: block;
    margin-bottom: 8px;
    color: grey;
}

progress {
    width: 100%;
    height: 20px;
    appearance: none;
    overflow: hidden;
}

::-webkit-progress-bar {
    background-color: #f1f1f1;
}

progress::-webkit-progress-value {
    background-color: #3f3f3f;
}

.box .progress-text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
}



/* bannière */
.banniere {
    display: flex;
    width: 100%;
    background-color: #3f3f3f;
    color: white;
    justify-content: space-around;
}

.stats {
    text-align: center;
    padding: 20px 0;
}

.number {
    font-size: 25px;
}


/* Portfolio */

.over::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 2;
    pointer-events: none;
}

.over {
    height: 400px;
    position: relative;
}

.over img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

.over p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 5px 20px;
    z-index: 3;
    font-size: 50px;

}

/* work */
#work h2 {
    text-align: center;
}

#work p {
    text-align: center;
}

#work #workContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px;
    justify-content: space-between;
}

#work #workContainer .box {
    width: 23.5%;
}

#work a {
    align-self: center;
    background-color: #f1f1f1;
    color: black;
    padding: 10px 20px;
}


#work .button {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

/* Contact */

.ctext {
    text-align: center;
}

.contact .container {
    display: flex;
    margin: 0 258px;
}

.adress {
    color: gray;

}

.adress p {
    padding-top: 5px;
}

#contactImg {
    margin-left: 10rem;
    width: 20rem;
}

.contact .container img {
    display: block;
    margin: auto;
    padding-bottom: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 30px;

}

form p {
    color: gray;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.name {
    width: 47.5%;
    margin-bottom: 10px;
    padding: 5px 0;
}

.email {
    width: 47.5%;
    margin-bottom: 10px;
    padding: 5px 0;
}

.message {
    width: 96.9%;
    margin-bottom: 10px;
    padding: 5px 0;
}

form div {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 7px;
    margin-top: 20px;
}

form button {
    background-color: black;
    color: white;
}

/* Footer */

footer {

    width: 100%;
    display: block;
    background-color: #3f3f3f;
    color: white;
    padding-top: 40px;
    margin-top: 120px;
    text-align: center;
}

footer .top {
    background-color: white;
    color: black;
    padding: 5px;
}

footer .btn {
    display: block;
    padding: 15px;
}

footer .socialmedia {
    padding-bottom: 15px;
}

footer p {
    padding-bottom: 10px;
}

footer span {
    text-decoration: underline;
}

#modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 5000;
}
.modal-content {
    position: relative;
    max-width: 900px;
    width: 90%;
}
#modalImg {
    width: 100%;
    padding-top: 3rem;
    border-radius: 5px;
}
#close-modal {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
#modalCaption {
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 50%;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.nav-btn:hover {
color: white;
}


@media screen and (max-width: 576px) {

    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #navbar {
        position: absolute;
        top: 0;
        background: transparent;
        padding: 10px;
        justify-content: end;
    }

    #portfolioNav {
        display: none;
    }

    #search {
        display: none;
    }

    #burger {
        display: inline-block;
    }

    #navbar nav {
        width: 100%;

        li:first-child {
            display: inline-block;
        }

        li {
            display: none;
        }

    }

    #navbar p {
        padding: 0;
    }

    #logo {
        font-size: 18px;
        padding: 5px 15px;
    }


    .txt {
        margin: 0 20px;
        text-align: center;
    }

    #myname .container {
        flex-direction: column;
        text-align: center;
    }

    #myname .container .desc {
        display: none;
    }

    #me img {
        width: 60%;
        margin: 0 auto;
    }

    .pbar {
        margin: 0 20px;
    }


    .banniere {
        flex-direction: column;
    }

    .stats {
        padding: 10px 0;
    }


    .over {
        height: 250px;
    }

    .over img {
        max-height: 250px;
    }

    .over p {
        font-size: 32px;
    }

    #work {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #work .container {
        margin: 0 20px;
        flex-direction: column;
    }

    #work .container .box {
        width: 100%;
        margin-bottom: 20px;
    }


    .contact .container {
        flex-direction: column;
        margin: 0 20px;
    }

    .contact .container img {
        width: 100%;
        padding-bottom: 20px;

    }

    #contactImg {
        margin-left: unset;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .form {
        padding-left: 0;
    }

    .name,
    .email,
    .message {
        width: 100%;
    }


    footer {
        margin-top: 60px;
        padding-top: 20px;
    }

    footer .top {
        width: 100%;
    }
}